<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--引入db.properties文件    -->
    <properties resource="db.properties"/>

    <!--全局参数的设置(一般不管)    -->
    <settings>
        <!-- 打印查询语句 -->
<!--        <setting name="logImpl" value="STDOUT_LOGGING" />-->
        <!--开启log4j日志        -->
        <setting name="logImpl" value="LOG4J"/>
        <!--开启延迟加载        -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--关闭立即加载        -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--开启二级缓存        -->
        <setting name="cacheEnabled" value="true" />
    </settings>

    <!--定义别名  (忽略大小写)  -->
    <typeAliases >
        <!--单个        -->
        <typeAlias type="com.company.entity.PeopleEntity" alias="people"/>
        <typeAlias type="com.company.entity.AddressEntity" alias="address"/>
        <typeAlias type="com.company.entity.PeopleCardEntity" alias="mybatis_people_card"/>
        <typeAlias type="com.company.entity.PeopleBusinessEntity" alias="people_business"/>
        <typeAlias type="com.company.entity.PeopleClassEntity" alias="people_class"/>
        <!--多个  (bao里的别名就是其类名)      -->
<!--        <package name="com.company.entity"/>-->
    </typeAliases>

    <!--转换器    -->
    <typeHandlers>
        <typeHandler handler="com.company.converter.BooleanAndIntConverter" javaType="Boolean" jdbcType="INTEGER"/>
    </typeHandlers>





    <!--指定数据库运行的环境    -->
    <environments default="development">
        <!--本地计算机        -->
        <environment id="development">
            <!--
                JDBC: commit(),rollback(),close()
                MANAGED: 自动
            -->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
<!--                <property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://127.0.0.1:3306/homework?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="admin"/>-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

        <!--测试        -->
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/homework?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="admin"/>
            </dataSource>
        </environment>


    </environments>

    <mappers>
        <mapper resource="com/company/mapper/PeopleClassEntityMapper.xml"/>
        <mapper resource="com/company/mapper/PeopleEntityMapper.xml"/>
        <mapper resource="com/company/mapper/PeopleCardEntityMapper.xml"/>
    </mappers>


</configuration>
