.navbar .navbar-brand{
    color:black;
}
.navbar-blue{
    background-color: #ccc;
}
.body{
    margin-top:90px;
}
 .btn-primary{
    background-color: #ccc;
}
.tots{
    display:block;
    height:30px;
    line-height:30px;
    padding:0px 20px;
}

.pagination{
    margin:0px;
}
.panel-title>a{
    color:black;
}
.list-group{
    display:none;
}
.progress{
    margin-top:50px;
}
