<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd" >

    <!--逻辑层-->
    <bean class="com.example.spring.jdbc.service.impl.JdbcServiceImpl" id="jdbcService">
        <property name="jdbcDao" ref="jdbcDao"/>
    </bean>
    <!--数据层-->
    <bean class="com.example.spring.jdbc.dao.impl.JdbcDaoImpl" id="jdbcDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--数据源-->
    <bean class="org.apache.commons.dbcp.BasicDataSource" id="dataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/homework?useUnicode=true&amp;characterEncoding=GBK"/>
        <property name="username" value="root"/>
        <property name="password" value="admin"/>
    </bean>


</beans>


