<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <script src="js/bootstrap.js" th:src="@{webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <script src="js/jquery-3.1.1.min.js" th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
    <link rel="stylesheet" href="css/student.css" th:href="@{css/student.css}">
    <script src="js/tea_search.js" th:src="@{js/tea_search.js}"></script>
</head>
<body>
<div  class="container">
    <div>
        <nav class="navbar navbar-default navbar-fixed-top navbar-blue" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">毕业设计选课系统</a>
            </div>
        </nav>
    </div>
    <!-- 内容区域 -->
    <div class="row  body">
        <!-- 菜单 -->
        <div class="col-md-2   panel-body  ">
            <!-- 学生系统-->
            <div class="  panel panel-primary">
                <div class="panel-title" ><button  class="btn  btn-primary  btn-block"><a  href="tea_question.html">题目查询</a></button></div>
            </div>
            <div class="  panel panel-primary">
                <div class="panel-title" > <button  class="btn  btn-primary  btn-block"><a href="tea_search.html">信息查询</a></button></div>
            </div>
            <div class="  panel panel-primary">
                <div class="panel-title" ><button  class="btn  btn-primary  btn-block"  data-toggle="modal" data-target="#charPass"><a>密码修改</a></button></div>
            </div>
            <div class="panel  panel-primary">
                <div   class="panel-title">
                    <button   class="btn  btn-primary  btn-block"  id="A1"><a>对题目进行管理</a></button>
                </div>
                <ul class="list-group">

                    <li class="list-group-item"><a href="tea_addq.html">添加题目</a></li>


                </ul>
            </div>
            <div class="  panel panel-primary">
                <div class="panel-title" > <button  class="btn  btn-primary  btn-block"><a href="tea_stu.html">对学生选题的确认</a></button></div>
            </div>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li><a href="student.html"><span class="glyphicon glyphicon-home"></span>首页</a></li>
                <li><a href="#">题目查询</a></li>
                <button class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-refresh"></span></button>
            </ol>
            <!-- 面版 -->
            <div class="panel panel-default">
                <table class="table-bordered table table-hover"  id="add4">
                    <th>姓名</th>
                    <th>工号</th>
                    <th>职称</th>
                    <th>简介</th>
                    <th>密码</th>
                    <tr th:text="item :${items}">
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.job}"></td>
                        <td th:text="${item.content}"></td>
                        <td th:text="${item.password}"></td>
                    </tr>
                </table>
                <!-- 分页效果 -->
                <div class="panel-footer">
                    <nav style="text-align:center;">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="teacher.html">1</a></li>
                            <li><a href="tea_question.html">2</a></li>
                            <li><a href="tea_search.html">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 菜单切换
    $("#A1").click(function(){
        $(".list-group").hide();
        $(this).parent().next().toggle(500);
    });

</script>
</body>
</html>