<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <script src="js/bootstrap.js" th:src="@{webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <script src="js/jquery-3.1.1.min.js" th:src="@{webjars/jquery/3.4.1/jquery.js}"></script>
    <link rel="stylesheet" href="css/student.css" th:href="@{css/student.css}">
    <script src="js/charPass.js" th:src="@{js/charPass.js}"></script>
</head>
<body>
<div  class="container">
    <div>
        <nav class="navbar navbar-default navbar-fixed-top navbar-blue" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">毕业设计选课系统</a>
            </div>
        </nav>
    </div>
    <!-- 内容区域 -->
    <div class="row  body">
        <!-- 菜单 -->
        <div class="col-md-2   panel-body  ">
            <!-- 学生系统-->
            <div class="  panel panel-primary">
                <div class="panel-title" ><button  class="btn  btn-primary  btn-block"><a  href="tea_question.html" th:href="@{/teacher/query}">题目查询</a></button></div>
            </div>
            <div class="  panel panel-primary">
                <div class="panel-title" > <button  class="btn  btn-primary  btn-block"><a href="tea_search.html" th:href="@{teacher.html}">信息查询</a></button></div>
            </div>
            <div class="  panel panel-primary">
                <div class="panel-title" ><button  class="btn  btn-primary  btn-block"  data-toggle="modal" data-target="#charPass"><a>密码修改</a></button></div>
            </div>
            <div class="panel  panel-primary">
                <div   class="panel-title">
                    <button   class="btn  btn-primary  btn-block"  id="A1"><a  href="tea_stu.html" >对题目进行管理</a></button>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="tea_addq.html" th:href="@{/tacher/add}">添加题目</a></li>
                </ul>
            </div>
            <div class="  panel panel-primary">
                <div class="panel-title" > <button  class="btn  btn-primary  btn-block"><a href="tea_stu.html">对学生选题的确认</a></button></div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="jumbotron">
                <img src="img/Desert.jpg"  width="100%" height="310px">
            </div>
            <div class="panel-footer">
                <nav style="text-align:center;">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="teacher.html">1</a></li>
                        <li><a href="tea_question.html">2</a></li>
                        <li><a href="tea_search.html">3</a></li>
                        <li><a href="tea_stu.html">4</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <div class="modal fade" id="charPass">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="form-group">
                            <label for="password">原密码</label>
                            <input type="password" name="password" class="form-control" placeholder="请输入原密码" id="password">
                        </div>
                        <div class="form-group">
                            <label for="newpass1">新密码</label>
                            <input type="password" name="newpass1" class="form-control" placeholder="请输入新密码" id="newpass1">
                        </div>
                        <div class="form-group pull-right">
                            <input type="submit" value="提交" class="btn btn-success" id="btn3">
                            <input type="reset" value="重置" class="btn btn-danger">
                        </div>
                        <div style="clear:both"></div>
                    </form>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    // 菜单切换
    $("#A1").click(function(){
        $(".list-group").hide();
        $(this).parent().next().toggle(500);
    });
</script>
</body>
</html>